<header class="header">
    <div class="container">
        <div class="logo-container">
            <a href="/" class="logo-link">
                <img src="https://placehold.co/150x50/004a91/FFF?text=Logo+UFAM" alt="Logo UFAM/ICET" class="logo">
                <div class="site-title">
                    <h1>Restaurante Universitário</h1>
                    <h2>ICET - Itacoatiara</h2>
                </div>
            </a>
        </div>
        <nav>
            <a href="/" class="nav-link">Início</a>
            <a href="/#cardapio" class="nav-link">Cardápio</a>
            <a href="/#grafico" class="nav-link">Estatísticas</a>
        </nav>
    </div>
</header>