<div class="container page-container">
    <div class="main-column">
        <section class="card">
            <div class="admin-header">
                <h2>Gerenciar Cardápio</h2>
                </div>

            <div class="admin-content">
                <h3>Cadastrar/Editar Cardápio do Dia</h3>
                <form action="/admin/cardapio" method="POST" class="admin-form">
                    </form>
                </div>
        </section>
    </div>
</div>